In [14]:
import yfinance as yf

In [15]:
df = yf.download('BTC-USD', start="2020-01-01",end="2021-09-20")

[*********************100%***********************]  1 of 1 completed

In [16]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,7294.438965,7335.290039,7169.777832,7193.599121,7193.599121,21167946112
2020-01-01,7194.892090,7254.330566,7174.944336,7200.174316,7200.174316,18565664997
2020-01-02,7202.551270,7212.155273,6935.270020,6985.470215,6985.470215,20802083465
2020-01-03,6984.428711,7413.715332,6914.996094,7344.884277,7344.884277,28111481032
2020-01-04,7345.375488,7427.385742,7309.514160,7410.656738,7410.656738,18444271275
...,...,...,...,...,...,...
2021-09-15,47098.000000,48450.468750,46773.328125,48176.347656,48176.347656,30484496466
2021-09-16,48158.906250,48486.828125,47079.558594,47783.359375,47783.359375,31764293754
2021-09-17,47771.003906,48160.921875,46832.523438,47267.519531,47267.519531,28727713711
2021-09-18,47273.527344,48791.781250,47087.285156,48278.363281,48278.363281,28575630451
2021-09-19,48268.855469,48328.367188,46919.804688,47260.218750,47260.218750,26967722648